/*LogIn*/
body {
  background-color: #F5A52C;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #191919;
}

.container {
  background-color: #F7F7F7;
  font-size: smaller;
  display: block;
  text-align: center;
  border: 2px transparent black;
  border-radius: 30px;
  box-shadow: 5px 5px 25px rgb(61, 61, 61);
  padding: 20px 40px;
}

.btnlogin {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 20px;
  border: transparent;
  background: #F5A52C;
  color: #f2f2f2;
  height: 30px;
}

.btnlogin:hover {
  background: #f59607;
}

.password {
  text-align: right;
  font-size: small;
  font-weight: bold;
  width: auto;
}

.register {
  color: #F5A52C;
  font-weight: bold;
}

.register:hover {
  color: #f59607;
  font-weight: bold;
}

.account {
  font-size: medium;
}

h1 {
  font-size: xx-large;
}

h2 {
  position: relative;
  margin-bottom: 5px;
  text-align: left;

}

input {
  width: calc(100% - 24px);
  height: 26px;
  border-radius: 30px;
  padding: 5px 10px;
  border-color: transparent;
  box-shadow: 0 0px 50px rgba(212, 224, 251, 0.9);
  font-size: medium;
}

.condiciones {
  display: flex;
  align-items: center;
}

.check {
  width: auto;
}