/*LogIn*/
body {
  background-color: #ECECEE;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #191919;
}
.description{
  font-weight: 400;
  margin-top: -15px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  background-color: #FFFFFF;
  font-size: smaller;
  text-align: center;
  border-radius: 25px;
  box-shadow: 15px 15px 30px -15px rgb(61, 61, 61);
  height: 600px;
  width: 800px;
  padding: 40px 60px;
  align-items: center;
  /* Centra el contenido verticalmente */
  justify-content: center;
  /* Centra el contenido horizontalmente */
}

.leftImage {
  width: 50%;
  padding-right: 40px;
}

.formulario {
  width: 50%;
  padding-left: 40px;
}


.buttons{
  display: flex;
  justify-content: space-around;
}

.btnlogin {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 20px;
  border: transparent;
  background: #365486;
  color: #f2f2f2;
  height: 40px;
  width: 100%;

  &:hover {
    background: #0F1035;
  }
}

.btnSignUp {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 20px;
  border: transparent;
  background: #365486;
  color: #f2f2f2;
  height: 40px;
  width: 100%;

  &:hover {
    background: #0F1035;
  }
}

#backButton{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  color: #365486;
  border-color: transparent;
  background-color: #e0e0e0;
  margin-right: 10px;
  
  &:hover {
    background: #61616169;
  }
}



.password {
  text-align: right;
  font-size:medium;
  font-weight: bold;
  width: auto;
}

.register {
  color: #365486;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #0F1035;
  }
}

.account {
  font-size: medium;
}

h1 {
  text-align: left;
  font-size: xx-large;
}

h2 {
  position: relative;
  margin-bottom: 5px;
  text-align: left;
  font-size: large;

}

input {
  background-color: #F5F5F7;
  width: calc(100% - 24px);
  height: 30px;
  border-radius: 10px;
  padding: 5px 10px;
  border-color: transparent;
  font-size: medium;
}

.condiciones {
  display: flex;
  align-items: center;
}

.check {
  width: auto;
}