/* Estilos para el modal */
.modal-header {
    background-color: #007bff;
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.modal-title {
    font-size: 1.5rem;
}

.modal-body {
    text-align: center;
}


#modalImage {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Estilos para el campo de nombre */
#modalName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para el campo de descripción */
#modalDescription {
    margin-bottom: 20px;
}

.modal-content {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


