body {
    background-color: rgba(45, 103, 60, 0.8); /* Cambia el color de fondo del body a un tono de gris claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-size-adjust: 150%;
}

header {
    background-color: #daf1ee;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
    color: #0e0808; /* Cambiamos el color del texto para que se vea mejor sobre el fondo gris */
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

#map {
    height: 400px;
    width: 100%;
}

#mapContainer {
    height: 70vh;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
