@font-face {
    font-family: 'Cute Love';
    src: url('../Fonts/CuteLove.otf') format('opentype'); /* Ruta relativa al archivo de la fuente */
}

body {
    background-color: rgba(233, 240, 234, 0.927); /* Cambia el color de fondo del body a un tono de gris claro */
    font-family: 'Cute Love', cursive; /* Usa la fuente Cute Love */
    margin: 0;
    padding: 0;
    text-size-adjust: 150%;
}

header {
    background-color: #96065a;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
    color: #faf9f9; /* Cambiamos el color del texto para que se vea mejor sobre el fondo gris */
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

#map {
    height: 400px;
    width: 100%;
}

#mapContainer {
    height: 70vh;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el header */
.custom-header {
    max-width: 800px;
    margin: 0 auto;
}

.custom-header h1 {
    font-size: 2.5rem;
}

/* Estilos para el contenedor del mapa */
#mapContainer {
    height: 90vh;
    margin-bottom: 20px;
}

/* Estilos para el mapa */
#map {
    height: 100%;
    width: 100%;
}

/* Estilos para el contenedor de búsqueda */
#searchContainer {
    margin-top: 20px;
}
